html,
body,
#app {
    height: 100%;
}

:root {
    --bg: 255, 255, 255;
    --background-color: rgba(var(--bg), 1);
    /* used for most backgrounds */
    --secondary-bg-color: #485888;
    --tertiary-bg-color: #d0f6ff;
    --quaternary-bg-color: #e35f4980;
    --primary-color: #1ebfc2;
    /* used for p tags */
    --secondary-color: #338182;
    /* used for headings, navbar tabs */
    --tertiary-color: #8e9eb2;
    /* used for icon, course time */
    --quaternary-color: #384569;
    /* used for course code, course instructor, course event, login buttons */
    --quinary-color: #42bebf60;
    /* used for search button */
    --link-color: #543fd7;
    /* used for a tags */
    --selection-color: #5a5af7;
    /* used for text selection */
    --border-color: #bbeced;
    /* used for button borders */
    --search-button-bg: #42bebf60;
    --shadow-color: rgba(0, 0, 0, 0.15);
    --warning-color: #e9d50d;
    --course-color1: 209;
    --course-color2: 43;
    --course-color3: 9;
    --course-color4: 163;
    --course-color5: 55;
    --sat-course: 95%;
    --sat-bg: 70%;
    --lightness-bg: 90%;
    --course-c1: hsl(var(--course-color1), var(--sat-course), 50%);
    --course-c2: hsl(var(--course-color2), var(--sat-course), 50%);
    --course-c3: hsl(var(--course-color3), var(--sat-course), 50%);
    --course-c4: hsl(var(--course-color4), var(--sat-course), 50%);
    --course-c5: hsl(var(--course-color5), var(--sat-course), 50%);
    --course-bg1: hsl(var(--course-color1), var(--sat-bg), var(--lightness-bg));
    --course-bg2: hsl(var(--course-color2), var(--sat-bg), var(--lightness-bg));
    --course-bg3: hsl(var(--course-color3), var(--sat-bg), var(--lightness-bg));
    --course-bg4: hsl(var(--course-color4), var(--sat-bg), var(--lightness-bg));
    --course-bg5: hsl(var(--course-color5), var(--sat-bg), var(--lightness-bg));
}

html[data-theme="Color Blind"] {
    /* Design this theme */
    --bg: 255, 255, 255;
    --background-color: rgba(var(--bg), 1);
    --secondary-bg-color: #485888;
    --tertiary-bg-color: #f2fafc;
    --primary-color: #107577;
    --secondary-color: #12b0b2;
    --tertiary-color: #8e9eb2;
    --quaternary-color: #384569;
    --quinary-color: #42bebf60;
    --link-color: #543fd7;
    --selection-color: #9595ff;
    --border-color: #bbeced;
    --search-button-bg: #42bebf60;
    --shadow-color: rgba(0, 0, 0, 0.15);
}

html[data-theme="Red"] {
    --bg: 255, 168, 168;
    --background-color: rgba(var(--bg), 1);
    --secondary-bg-color: #886e48;
    --tertiary-bg-color: #e47676;
    --quaternary-bg-color: #ec4f3480;
    --primary-color: #c2371e;
    --secondary-color: #ff0000;
    --tertiary-color: #b28f8e;
    --quaternary-color: #646938;
    --quinary-color: #42bf7260;
    --link-color: #543fd7;
    --selection-color: #ff9595;
    --border-color: #edbbbb;
    --search-button-bg: #bf464260;
    --shadow-color: rgba(0, 0, 0, 0.15);
}

html[data-theme="Dark"] {
    --bg: 36, 34, 34;
    --background-color: rgba(var(--bg), 1);
    --secondary-bg-color: #374058;
    --tertiary-bg-color: #303435;
    --primary-color: #b0f4f5;
    --secondary-color: #5ccfd1;
    --tertiary-color: #8e9eb2;
    --quaternary-color: #868faa;
    --quinary-color: #42bebf60;
    --link-color: #7b6ddb;
    --selection-color: #9595ff;
    --border-color: #bbeced;
    --search-button-bg: #42bebf60;
    --shadow-color: rgba(255, 255, 255, 0.5);
    --sat-bg: 40%;
    --lightness-bg: 40%;
}

html[data-theme="High Contrast"] {
    --bg: 0, 0, 0;
    --background-color: rgba(var(--bg), 1);
    --secondary-bg-color: #292c35;
    --tertiary-bg-color: #303131;
    --primary-color: #fcff4e;
    --secondary-color: #81cdff;
    --tertiary-color: #d0e5fd;
    --quaternary-color: #9aaeec;
    --quinary-color: #4affffa4;
    --link-color: #a99bff;
    --selection-color: #a1a1c9;
    --border-color: #bbeced;
    --search-button-bg: #4bdd37fb;
    --shadow-color: whitesmoke;
    --sat-bg: 40%;
    --lightness-bg: 40%;
}

html[data-theme="Purple"] {
    --bg: 59, 0, 77;
    --background-color: rgba(var(--bg), 1);
    --secondary-bg-color: #794888;
    --tertiary-bg-color: #601069;
    --quaternary-bg-color: #c734ec80;
    --primary-color: #e7d000;
    --secondary-color: #fbff00;
    --tertiary-color: #aeb28e;
    --quaternary-color: #646938;
    --quinary-color: #bdbf42bb;
    --link-color: #3fc0d7;
    --selection-color: #ff9595;
    --border-color: #d9bbed;
    --search-button-bg: #bf464260;
    --shadow-color: rgba(221, 221, 221, 0.952);
    --sat-bg: 40%;
    --lightness-bg: 40%;
}

html[data-theme="Butter"] {
    --bg: 38, 38, 34;
    --background-color: rgba(var(--bg), 1);
    --secondary-bg-color: #1b1b18;
    --tertiary-bg-color: #151613;
    --quaternary-bg-color: rgba(41, 39, 27, 0.94);
    --primary-color: rgba(179, 168, 86, 0.94);
    --secondary-color: rgb(255, 251, 222, 60%);
    --tertiary-color: #aeb28e;
    --quaternary-color: #646938;
    --quinary-color: #42bf4260;
    --link-color: rgba(253, 242, 158, 0.94);
    --selection-color: #ef73ff;
    --border-color: #edeabb;
    --search-button-bg: #bf464260;
    --shadow-color: rgba(221, 221, 221, 0.952);
    --sat-bg: 40%;
    --lightness-bg: 40%;
}

#app {
    transition: all 0.5s ease-in-out;
}

* {
    font-family: "Acari Sans", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

/* disables bouncy scrolling for macOS when scrolling through panels */
html, body {
    height: 100%;
    width: 100%;
    /* overflow-y: hidden; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--secondary-color);
}

p {
    color: var(--primary-color);
}

a {
    color: var(--link-color);
}

::selection {
    background-color: var(--selection-color);
}

* {
    scrollbar-width: 18px;
    /*thin;*/
    scrollbar-color: var(--primary-color) var(--background-color);
}

.ReactModal__Overlay {
    background-color: rgba(var(--bg), 0.5) !important;
}

/* SCROLLBAR */

*::-webkit-scrollbar {
    display: none;
  }
.scrollbar::-webkit-scrollbar, .rbc-time-content::-webkit-scrollbar, .courseListContainer::-webkit-scrollbar {
    display: block;
    width: 5px;
    height: 5px;
  }
.scrollbar::-webkit-scrollbar-track, .rbc-time-content::-webkit-scrollbar-track {
    display: block;
    background-color: var(--shadow-color);
    border-radius: 10px;
    opacity: .75;
  }
.scrollbar::-webkit-scrollbar-thumb, .rbc-time-content::-webkit-scrollbar-thumb {
    display: block;
    background-color: var(--primary-color);
    border-radius: 10px;
    opacity: .75
  }

@font-face {
    font-family: "Acari Sans";
    src: url("./assets/fonts/acari-sans/AcariSans-Regular.ttf")
        format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Acari Sans";
    src: url("./assets/fonts/acari-sans/AcariSans-Italic.ttf")
        format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Acari Sans";
    src: url("./assets/fonts/acari-sans/AcariSans-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: bold;
}

@font-face {
    font-family: "Acari Sans";
    src: url("./assets/fonts/acari-sans/AcariSans-Medium.ttf")
        format("truetype");
    font-weight: medium;
    font-style: normal;
}
