.modal-container {
    z-index: 1;
    padding: 1rem;
    background-color: var(--background-color);
}

.course-info {
    padding: 0 1rem;
}

.eval-tabs {
    padding-left: 1rem;
    padding-right: 1rem;
}

.eval-tabs-unclicked {
    border: none;
    font-family: "Acari Sans";
    font-size: medium;
    color: var(--tertiary-color);
    background: none;
    padding: 5px 7px;
}

.eval-tabs-clicked {
    border: none;
    border-bottom: 3px solid var(--search-background-focused);
    border-radius: 2px;
    font-family: "Acari Sans";
    font-size: medium;
    color: var(--search-background-focused);
    background: none;
    padding: 5px 7px;
}

.charts-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.chart-container {
    height: 300px;
    padding: 1rem;
}

.comment-container {
    padding: 1rem;
    color: var(--quaternary-color);
    border-top: 1.5px solid  var(--background-color);
}
.comment-even {
    background-color: var(--background-color);
}
.time-stamp {
    padding-top: 5px;
    font-size: 12px;
    color: var(--tertiary-color);
    text-align: right;
}
