.modal-container {
    z-index: 1;
    background-color: var(--background-color);
}

.course-eval-header {
    display: flex;
    flex-direction: row;
    background-color: var(--background-color);
}

.eval-warning {
    display: flex;
    flex-direction: row;
    background-color: var(--warning-color);
    padding: 0;
    border: 2px solid var(--warning-color);
    border-radius: 2px;
}

.warning-icon {
    display: flex;
    width: 40px;
    padding: 1rem;
    align-items: center;
    justify-content: center;
}
.warning-text {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    margin: 0;
    color: black;
}
.exit {
    float: right;
    margin: 0.5rem;
    border-radius: "10px";
}

.course-info {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
}

.no-padding-no-margin {
    padding: 0;
    margin: 0;
}

.course-num {
    color: var(--secondary-color);
}

.course-title-eval {
    color: var(--primary-color);
}

.eval-exit {
    text-align: right;
    align-items: right;
    font-weight: 100;
    padding-right: 1rem;
    padding-top: 0.5rem;
}

.course-details {
    color: var(--tertiary-color);
    font-size: 20px;
}

.eval-tabs {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.eval-tabs-unclicked {
    border: none;
    font-family: "Acari Sans";
    font-size: medium;
    color: var(--tertiary-color);
    background: none;
    padding: 5px 7px;
    cursor: pointer;
}

.eval-tabs-clicked {
    border: none;
    border-bottom: 3px solid var(--primary-color);
    border-radius: 2px;
    font-family: "Acari Sans";
    font-size: medium;
    color: var(--primary-color);
    background: none;
    padding: 5px 7px;
    cursor: pointer;
}

.header-border {
    border: 1px solid var(--border-color);
    margin-bottom: 2rem;
}

.charts-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.chart-padding {
    padding-bottom: 2rem;
}

.chart-container {
    height: 300px;
    width: auto;
    padding: 0.5rem;
    border: 1.5px solid var(--border-color);
    margin: 0.5rem;
    border-radius: 1px;
}

.chart-txt {
    color: var(--secondary-color);
    padding-top: 180px;
    margin: 0;
}

.comment-container {
    padding: 1rem;
    color: var(--quaternary-color);
    border-top: 1.5px solid var(--background-color);
}
.comment-even {
    background-color: var(--tertiary-bg-color);
}
.time-stamp {
    padding-top: 5px;
    font-size: 12px;
    color: var(--tertiary-color);
    text-align: right;
}
