.draft-course-item-container {
    width: 100%;
    min-height: 70px;
    background-color: var(--background-color);
    margin-bottom: 20px;
}

.selected2 {
    opacity: 0.3;
}

.draft-course-top {
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-left: 10px; */
}

.draft-course-top:hover {
    cursor: pointer;
}

.draft-course-bottom {
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-left: 10px; */
}

.model-info-content {
    /* width: 545px; */
    width: 50vw;
    /* height: 50vh; */
    height: auto;
    padding: 2rem 0;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    background-color: var(--background-color);
    /* position: absolute; */
    /* left: 50%;
    top: 50%; */
    /* margin-left: -272px;
    margin-top: -135px; */
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -350px;
    margin-top: -200px;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.model-info-content:focus{
    outline: none !important;
}

.course-info-content {
    color: var(--primary-color);
    width: 90%;
    height: 100%;
    font-style: normal;
    /* font-size: 16px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.course-title {
    font-size: 20px;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.closeModalButton{
    position: absolute;
    top: 30px;
    right: 30px;
}

.float-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60%;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.category {
    font-size: 16px;
    width: 100%;
    /* height: 40px; */
    margin-bottom: 10px;
}

.course-instructor {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.evaluation-modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 80%;
    box-sizing: border-box;
    border-color: transparent;
    border-radius: 5px;
    overflow-y: auto;
    border: 2px solid var(--primary-color);
    background-color: var(--background-color);
    z-index: 99;
}

.evaluation-modal:focus{
    outline: none !important;
}