.draft-course-item-container {
    width: 100%;
    height: 80px;
    background-color: var(--background-color);
    margin-bottom: 20px;
}

.selected2 {
    opacity: 0.3;
}

.draft-course-top {
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-left: 10px; */
}

.draft-course-top:hover {
    cursor: pointer;
}

.draft-course-bottom {
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-left: 10px; */
}

.evaluation-modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 80%;
    box-sizing: border-box;
    border-color: transparent;
    border-radius: 5px;
    overflow-y: auto;
    border: 2px solid var(--border-color);
    background-color: var(--background-color);
    z-index: 99;
}
