body {
    font-family: "Acari Sans", sans-serif;
}
.headerContainer {
    width: 100%;
    height: 60px;
    vertical-align: bottom;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logoContainer {
    justify-self: flex-start;
    height: 75px;
    margin-left: 25px;
    margin-top: 10px;
    cursor: pointer;
}

.logoContainer > img {
    max-width: 100%;
    max-height: 100%;
}

.titleContainer {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.justifyItems {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.leftAlign {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.buttonSelect {
    width: 35%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    margin-right: 10px;
}

.buttonGroup {
    width: 100%;
    height: 100%;
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
    border: 1px solid var(--border-color);
}

.buttonGroup > .iconButton2 {
    border: 1px solid;
    height: 15px;
    border-radius: 5px 0px 0px 5px;
    color: "red";
}

.iconButton2:first-child {
    border-radius: 5px 0px 0px 5px;
}

.iconButton2:last-child {
    border-radius: 0px 5px 5px 0px;
}

.rightAlign {
    width: 50%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.leftAlign > button {
    width: auto;
    margin-left: 10px;
    /* margin: 0% 2% 0% 2%; */
}

.MuiTabs-scrollButtons.Mui-disabled {
    opacity: 0.3;
}

.react-select__value-container {
    color: var(--primary-color);
}

.css-zk88xw-singleValue {
    color: var(--primary-color);
}

.modalDegreePlanHeader {
    width: 400px;
    height: 150px;
    border: 2px solid var(--border-color);
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    background-color: var(--tertiary-bg-color);
    z-index: -10;
}

.icon-container {
    width: 30px;
    height: 30px;
    background-color: var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--search-background-focused);
    font-size: 15;
    border-radius: 5px;
}

.icon-container-2 {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--search-background-focused);
    font-size: 15;
    border-radius: 5px;
}

.icon-container-2-color {
    background-color: var(--border-color);
    border-radius: 5px;
}

.icon-box {
    width: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3px 1px 3px 1px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.nameContainer {
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: x-large;
    font-weight: 700;
    margin-left: 20px;
}

.nameContainerDelete {
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: 700;
    margin-left: 20px;
}

.contentContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputContainer {
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.inputContainer input {
    border: 0;
    border-radius: 8px;
    font-size: 15px;
    padding-left: 10px;
    width: 65%;
}

.buttonContainer {
    width: 20%;
    height: 40px;
}

.closeSettings {
    margin-top: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.emailHeading {
    margin-right: -30px;
    margin-left: 30px;
}
