.ltbox {
    position: relative;
    width: 81%;
    height: 100%;
    left: 1px;
    top: -0.5px;
    border: 1.5px solid var(--border-color);
    box-sizing: border-box;
    background: var(--bg-color);
    display: flex;
    align-items: center;
    border-radius: 5px 0px 0px 0px;
}
.year {
    position: relative;
    left: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    padding-top: 2px;
    /* identical to box height */
    letter-spacing: 0.05em;
    color: var(--tertiary-color);
    background-color: transparent;
    border-color: transparent;
}
.yearSelect {
    position: relative;
    left: 20px;
    font: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    padding-top: 2px;
    /* identical to box height */
    letter-spacing: 0.05em;
    color: var(--tertiary-color);
    background-color: transparent;
    border-color: transparent;
}
.yearSelect:hover {
    cursor: pointer;
}
.courseCode {
    color: var(--primary-color);
}
.semester {
    position: relative;
    left: 25px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    padding-top: 2px;
    /* identical to box height */
    letter-spacing: 0.05em;
    color: var(--tertiary-color);
    background-color: transparent;
    border-color: transparent;
}
.semesterSelect {
    position: relative;
    left: 25px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    padding-top: 2px;
    /* identical to box height */
    letter-spacing: 0.05em;
    color: var(--primary-color);
    background-color: transparent;
    border-color: transparent;
}
.semesterSelect:hover {
    cursor: pointer;
}
.saveBtn {
    height: 25px;
    position: relative;
    left: 10%;
    border: 1.5px solid var(--tertiary-bg-color);
    box-sizing: border-box;
    background-color: var(--background-color);
    font-style: normal;
    font-size: 15px;
    line-height: 19px;
    z-index: 2;
}
.saveBtn:hover {
    background-color: var(--tertiary-bg-color);
}
