.headerNotes {
    height: 8%;
    font-family: "Acari Sans";
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}
.saveBtn {
    width: 50px;
    height: 35px;
    border: 1.5px solid var(--tertiary-bg-color);
    box-sizing: border-box;
    background-color: var(--background-color);
    font-style: normal;
    font-size: 15.75px;
    line-height: 19px;
    color: var(--search-button-bg);
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.RichEditor-root {
    background: var(--background-color);
    font-family: "Georgia", serif;
    font-size: 14px;
    padding: 15px;
    width: auto;
    height: 90%;
    overflow-x: hidden;
}

.RichEditor-editor {
    border-top: 1px solid var(--background-color);
    cursor: text;
    font-size: 16px;
    margin-top: 10px;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
    margin: 0 -15px -15px;
    padding: 15px;
}

.RichEditor-editor .public-DraftEditor-content {
    min-height: 100px;
    height: 100%;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
    display: none;
}

.RichEditor-editor .RichEditor-blockquote {
    border-left: 5px solid var(--background-color);
    color: var(--tertiary-color);
    font-family: "Hoefler Text", "Georgia", serif;
    font-style: italic;
    margin: 16px 0;
    padding: 10px 20px;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
    background-color: var(--shadow-color);
    font-family: "Inconsolata", "Menlo", "Consolas", monospace;
    font-size: 16px;
    padding: 20px;
}

.RichEditor-controls {
    font-family: "Helvetica", sans-serif;
    font-size: 14px;
    margin-bottom: 5px;
    user-select: none;
}

.RichEditor-styleButton {
    color: var(--tertiary-color);
    cursor: pointer;
    margin-right: 16px;
    padding: 2px 0;
    display: inline-block;
}

.RichEditor-activeButton {
    color: var(--link-color);
}
