.rtbox {
    position: relative;
    width: 20%;
    height: 100%;
    left: 1px;
    top: -0.5px;
    border-right: 1.5px solid var(--border-color);
    border-bottom: 1.5px solid var(--border-color);
    border-top: 1.5px solid var(--border-color);
    box-sizing: border-box;
    background: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    letter-spacing: 0.1em;
    color: var(--secondary-color);
    border-radius: 0px 5px 0px 0px;
}
